{% extends "base.html" %}

{% block body %}
<script>
var graph = {{aggregates|safe}};
</script>
<div class="row">
<div class="col-md-3">
<div class="row">
<p><h4><b><u style="color:rgb(255, 127, 14);">Tags</u> in the system:</b></h4></p>
{% for k,v in tags.items %}
   <div class="tagsClass" data="tag" id="{{k}}"><a href="/find/{{k}}/">{{v.tagName}}</a></div>
{% endfor %}

</div>
</div>


<div id="diagram-1" class="col-md-8">
<p><h4 align="right"><b>The system:</b></h4></p>

</div>

</div>

<div class="row">
<p><h4><b><u style="color:rgb(31, 119, 180);">Reminds</u> in the system:</b></h4></p>
<div class="col-md-9">
<div class="row">
<div class="col-md-1"></div>
{% for k,v in reminds.items %}
    <div class="col-md-3 remindClass" data="rem" id="{{k}}"><span class="date-span">{{v.date}}</span> <br/> <b>{{v.what}}</b> <br/><i>@{{v.link|urlizetrunc:32}}</i> <br/> <a class="related-link" href="/related/{{k}}/">@relateds</a> - <a class="add-related" href="/new/{{k}}/">add related</a></div>
   {% if forloop.counter|divisibleby:3 %}
    </div><div class="row"><div class="col-md-2"></div>
   {% endif %}
{% endfor %}
</div>
</div>
</div>
<div class="row">
<p><h4><b><u>Users</u> in the system:</b></h4></p>
{% for u in users_array %}
{{u}} [to] gmail_com<br/>
{% endfor %}
</div>


<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/static/forcednet.js" charset="utf-8"></script>

{% endblock %}
